* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: 0.3s;
}

.nav-wrap {
    min-width: 240px;
    width: fit-content;
    height: 100vh;
    
}

.navbar {
    display: flex;
    flex-direction: column;

    padding: 0px 15px;
    position: fixed;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0 3px 3px 0px;

    min-width: 240px;
    width: fit-content;
    height: 100vh;
    z-index: 100;
    
}

.logo {
    margin-bottom: 30px;
    margin-top: 15px;
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
}

.logo img {
    width: 54px;
    border-radius: 50px;
}

#role {
    font-size: 0.8em;
}

.links {
    display: flex;
    flex-direction: column;

    list-style: none;
    gap: 10px;

    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.links a {
    text-decoration: none;
    color: 	#ffffff;
    transition: color 0.3s ease;

    width: 100%;
    border-radius: 4px;
    padding: 5px;

    display: flex;
    align-items: center;

}

.links a:hover {
    color: 	#c9c9c9;
    background-color: rgba(255, 255, 255, 0.205);
}

nav hr {
    background-color: #8496b3be;
    border: none;
    height: 2px;
    margin-top: 15px;
}

.nav-contact {
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 5px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}


.mob-nav {
    display: none;
    position: absolute;
    width: 100%;
    align-items: center;

    padding: 10px 3px 10px 3px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 5px 5px;
}

.hamburger {
    height: 25px;
    width: 25px;

    display: flex;
    gap: 3px;
    flex-direction: column;

    margin-left: auto;
    margin-right: 3vw;

    justify-content: center;
    align-items: center;
}

.garis {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}

.hamburger.active .garis:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .garis:nth-child(2) {
    opacity: 0;
}

.hamburger.active .garis:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar.active {
    position: absolute;
    transform: translateX(0);
}

.judul {
    width: calc(100vw - 240px);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.judul h1 {
    color: white;
    font-size: 3em;
    margin-top: 2.5vh;

    animation: Float 3s ease-in-out infinite;
}

.judul hr {
    width: 8%;
    height: 4px;

    border: none;
    border-radius: 5px;
    background-color: #546886;
    margin-top: 5px;
    animation: Float 20s ease-in-out infinite;
}

@keyframes Float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.judul img {
    width: 360px;
    background-color: #546886;
    padding: 10px;
    border-radius: 20px;
}

.wrapper {
    display: flex;

    margin-left: 8vw;
    margin-top: 15vh;
}

.link-medsos {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

.link-medsos a {
    text-decoration: none;
    color: 	#cde8ff;
    transition: color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    width: 420px;
    height: 115px;
    border-radius: 4px;
    padding: 5px;

    display: flex;
    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.205);
    transition: 0.3s ease-in-out;
}

.link-medsos a:hover {
    transform: translateY(-8px);
    border: 2px solid rgb(91, 173, 206);
}

.link-medsos a:hover svg {
    background-color: #617594b7;
}

.teksbawah {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
    width: 100%;
}

.link-medsos li {
    font-size: 1.7em;
}

.username {
    color: rgb(78, 89, 112);
}

.link-medsos i {
    width: 48px;
    height: 48px;
    
}

.link-medsos svg {
    width: 54px;
    height: 48px;

    background-color: #6175944b;
    padding: 6px;
    border-radius: 15px;

    margin-left: 5%;
    color: white;
}

.contactform {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 60vh;

    margin-left: 5vw;
    background-color: #546886;
    border: white 1px solid;
    border-radius: 10px;

    padding: 20px;
    gap: 20px;
}

.contactform label {
    color: white;
    font-size: 1.2em;
}

.contactform input {
    width: 100%;
    height: 20%;
    padding-left: 15px;

    border-radius: 5px;
}

.contactform textarea {
    resize: none;
    width: 100%;
    height: 80%;
    padding: 5px;

    border-radius: 5px;
}

input,textarea {
    outline: none;
    border: 2px solid #ccc;
}

input:focus,textarea:focus {
    box-shadow: 0 0 12px 2px rgba(37, 107, 134, 0.6); 
    border: 2px solid #0173c0;
}

.contactform button {
    width: 20%;
    height: 25%;

    border-radius: 5px;
    border: none;
    cursor: pointer;

    background-color: #027ac0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.05em;
}

.contactform button:hover {
    transform: translateY(-4px);
}

body {
    background-color: #617594;
    display: flex;
    font-family: 'Karla', sans-serif;
}

@media (max-height: 600px) or (max-width: 375px) {
    #jam-digital {
        display: none;
    }
}

/* Buat Handphone */
@media (max-width: 600px) {
    .nav-wrap {
    position: absolute;
    
    }

    .navbar {
        position: absolute;
        transform: translateX(-100%);
    }

    .mob-nav {
        display: flex;
    }

}

/* Buat Tablet */
@media (min-width: 601px) and (max-width: 1069px) {

}

@media (min-width: 1070px) and (max-width: 1800px) {
 
}