* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: 0.3s;
}

.nav-wrap {
    min-width: 240px;
    width: fit-content;
    height: 100vh;
    
}

.navbar {
    display: flex;
    flex-direction: column;

    padding: 0px 15px;
    position: fixed;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0 3px 3px 0px;

    min-width: 240px;
    width: fit-content;
    height: 100vh;
    z-index: 100;
    
}

.logo {
    margin-bottom: 30px;
    margin-top: 15px;
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
}

.logo img {
    width: 54px;
    border-radius: 50px;
}

#role {
    font-size: 0.8em;
}

.links {
    display: flex;
    flex-direction: column;

    list-style: none;
    gap: 10px;

    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.links a {
    text-decoration: none;
    color: 	#ffffff;
    transition: color 0.3s ease;

    width: 100%;
    border-radius: 4px;
    padding: 5px;

    display: flex;
    align-items: center;

}

.links a:hover {
    color: 	#c9c9c9;
    background-color: rgba(255, 255, 255, 0.205);
}

nav hr {
    background-color: #8496b3be;
    border: none;
    height: 2px;
    margin-top: 15px;
}

.nav-contact {
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 5px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}


.mob-nav {
    display: none;
    position: absolute;
    width: 100%;
    align-items: center;

    padding: 10px 3px 10px 3px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 5px 5px;
}

.hamburger {
    height: 25px;
    width: 25px;

    display: flex;
    gap: 3px;
    flex-direction: column;

    margin-left: auto;
    margin-right: 3vw;

    justify-content: center;
    align-items: center;
}

.garis {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}

.hamburger.active .garis:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .garis:nth-child(2) {
    opacity: 0;
}

.hamburger.active .garis:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar.active {
    position: absolute;
    transform: translateX(0);
}

.skills {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.judul {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 10vh;
    margin-right: 5vw;

}

.judul img {
    background-color: #546886;
    padding: 10px;
    border-radius: 20px;
}

.judul h1 {
    color: white;
    font-size: 5em;
}

body {
    background-color: #617594;
    display: flex;
    font-family: 'Karla', sans-serif;
}

@media (max-height: 600px) or (max-width: 375px) {
    #jam-digital {
        display: none;
    }
}

/* Buat Handphone */
@media (max-width: 600px) {
    .nav-wrap {
    position: absolute;
    
    }

    .navbar {
        position: absolute;
        transform: translateX(-100%);
    }

    .mob-nav {
        display: flex;
    }

}

/* Buat Tablet */
@media (min-width: 601px) and (max-width: 1069px) {

}

@media (min-width: 1070px) and (max-width: 1800px) {
 
}